section.block_text>ul,
section.block_text>ol {
    padding-left: 20px;
    list-style-position: inside;
}

section.block_text>ul,
section.block_text>ul>li {
    list-style-type: disc; /* Маркеры в виде точек */
    font-size: var(--small-font-size);
    padding-left: 4px;
    list-style-position: inside;
}

section.block_text>ol {
    list-style-type: decimal; /* Нумерация маркеров */
}
