.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 96px;
}

.map {
    overflow: hidden; /* Скрываем переполнение */
    border-radius: var(--border-radius);
    
    filter: sepia(20%) brightness(80%);
}

.container h4,
.container h3 {
    background-repeat: no-repeat; /* Предотвратить повторение изображения */
    background-position: left center; /* Расположение изображения слева по центру по вертикали */
    background-size: contain;
    line-height: 24px; /* Настройка высоты строки для вертикального центрирования текста */
    padding-left: 48px;
}

.container h4 {
    margin-bottom: 20px;
}



@media screen and (width < 1260px) {
    .container {
        flex-direction: column;
        gap: 16px;
    }

    .container ul li h4 {
        padding-left: 44px;
    }
}

@media screen and (width < 670px) {
    .map {
        display: none; /* Скрываем карту */
    }

    .container ul li:last-child {
        display: none; /* Скрываем кнопку */
    }
}
