footer {
    height: 100px;
    margin: 0 var(--padding-components);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--white-color);
}

.extra {
    margin-left: 6px;
}

footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

footer a img {
    margin-right: 24px;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

footer nav ul li a {
    height: 100%;
    text-decoration: none;
    color: inherit;
}

footer button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

footer button img {
    width: 24px;
    height: 24px;
}




@media screen and (width < 1300px) {
    .extra {
        display: none;
    }
}

@media screen and (width < 1200px) {
    footer {
        display: none;
    }
}

@media screen and (width < 768px) {
    footer {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    footer a {
        margin-bottom: 20px;
    }

    footer nav ul {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (width < 370px) {
    footer {
        padding: 10px;
    }

    footer nav ul li a {
        font-size: 14px;
    }

    footer button img {
        width: 20px;
        height: 20px;
    }
}
