form {
    position: relative;
    padding: 30px 76px;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    background-color: var(--black-newans-color);
    border-radius: var(--border-radius);
    margin-left: var(--padding-components);
    margin-right: var(--padding-components);
}

form>input {
    display: block;
    width: 100%;
    margin-top: 20px;
    position: relative;
    height: 60px;
    padding: 0 40px;
    background-color: var(--black-medium-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--black-medium-color);
    transition: border-color 0.2s ease-out;
}

form > button {
    width: 100%;
    margin-top: 20px;
}

form input:hover {
    border-color: var(--white-color);
}

form .selector-input,
form .calendar-input {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: calc(100% - 40px) center;
}

form .selector-input {
    background-image: url("/img/icons/more.svg");
}

form .selector-input.active,
form .calendar-input.active {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom-width: 0;
    border-color: var(--white-color);
}

form .selector-options {
    margin: 0;
    position: absolute;
    width: calc(100% - 2*76px);
    background-color: var(--black-medium-color);
    border-bottom: 1px solid var(--white-color);
    border-left: 1px solid var(--white-color);
    border-right: 1px solid var(--white-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    max-height: 200px;
    overflow-y: auto;

    z-index: 10;
}

form .selector-options .option {
    text-align: left;
    padding: 10px 40px;
    color: var(--white-opasity-60-color);
    cursor: pointer;
}

form .selector-options .option:hover {
    color: var(--white-color);
}

/* Календарь */

.calendar-container {
    display: none;
    width: 100%;
    justify-content: space-between;
    gap: 160px;
    background-color: var(--black-medium-color);
    border-bottom: 1px solid var(--white-color);
    border-left: 1px solid var(--white-color);
    border-right: 1px solid var(--white-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 20px 60px;
    z-index: 100;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.calendar-input {
    background-image: url("/img/icons/calendar.svg");
}

.calendar {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    background-color: var(--black-newans-color);
    border-radius: var(--border-radius);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--extra-color);
    color: var(--black-color);
    width: 100%;
    padding: 8px 25px;
}

.calendar-header span {
    color: var(--black-color);
}

.calendar-body {
    padding: 25px 25px 25px 25px;
}

.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
}

.weekdays span, .days span {
    cursor: pointer;
    user-select: none;
    width: 14.28%;
    text-align: center;
    margin: 5px 0;
}

.time-picker {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.calendar-body>.days>span {
    border-radius: 15px;
}

.calendar-body>.days>span.active {
    color: var(--extra-color);
}

.time-options {
    display: flex;
    gap: 90px;
    flex-direction: row;
}


.time-options>li>label {
    display: block;
}

.apply-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--white-color);
    color: var(--black-newans-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

input[type=radio] {
    display: none;
}

label:has(input[type=radio]:checked) {
    color: var(--extra-color);
}


@media screen and (width < 600px) {
    form {
        padding: 30px 56px;
    }
}