body>header {
    width: 100%;
    height: 100px;
    padding: 0 var(--padding-components);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

body>header a img {
    margin-right: 24px;
}

body>header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

body>header nav ul li a {
    height: 100%;
    text-decoration: none;
    color: inherit;
}

body>header button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

body>header button img {
    width: 24px;
    height: 24px;
}

@media screen and (width < 1300px) {
    .extra {
        display: none; /* Уменьшаю надпись */
    }
}

@media screen and (width < 1200px) {
    body>header.opened {
        background-color: var(--black-medium-color);
    }

    body>header nav {
        background-color: var(--black-medium-color);
        position: absolute;
        z-index: 100;
        left: 0;
        width: 100%;
        top: 100px;
        display: none; /* Убираю меню */
        padding-bottom: 40px;
    }

    body>header button {
        display: block;
    }

    body>header>nav>ul {
        display: flex;
        flex-direction: column;
    }
}
