section.hero_screen {
    padding: 160px var(--padding-components) 234px var(--padding-components);
    position: relative;
    box-sizing: border-box;
}

section.hero_screen>p {
    margin-top: 20px;
}

section.hero_screen>a {
    margin-top: 80px;
}

section.hero_screen>figure>picture>img {
    height: 100%;
    position: absolute;
    top:0;
    right: var(--padding-components);
    border-radius: var(--border-radius);
}




@media screen and (width < 1100px) {
    section.hero_screen {
        display: flex;
        justify-content: flex-end;
        flex-direction: column; /* Переход к колонке на меньших экранах */
        align-items: flex-start; /* Центрируем элементы по центру */
        position: unset;
        height: calc(100vh - 100px);
        max-height: 700px;
        margin-top: 0;
        background: linear-gradient(to top, var(--black-color), rgba(0,0,0,0));
        padding-top: auto;
        padding-bottom: 0 !important;
        
    }


    section.hero_screen>a {
        margin-top: 40px;
    }


    section.hero_screen>figure>picture>img {
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        max-width: none;
        height: 100%;
        max-height: 800px;
        border-radius: 0;
        object-fit: cover; /* Масштабировать изображение так, чтобы оно полностью покрывало контейнер без искажения пропорций */
        object-position: center; /* Позиционировать изображение по центру контейнера */
    }

    section.hero_screen > .content,
    section.hero_screen > figure {
        flex: 1 1 100%; /* Занимают 100% ширины */
        max-width: 100%;
        margin-top: 40px; /* Пространство между блоками в колонке */
    }

}
