section.why_yes>ul {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

section.why_yes>ul>li {
    background-color: var(--black-newans-color);
    border-radius: var(--border-radius);
    padding: 45px 75px;
}

section.why_yes>ul>li>h4 {
    background-repeat: no-repeat; /* Предотвратить повторение изображения */
    background-position: left center; /* Расположение изображения слева по центру по вертикали */
    background-size: contain;
    padding-right: 24px; /* Отступ для текста, чтобы он не перекрывал изображение */
    display: inline-block; /* Чтобы элемент мог учитывать padding */
    line-height: 40px; /* Настройка высоты строки для вертикального центрирования текста */
    padding-left: 60px;
}

section.why_yes>ul>li>p {
    margin-top: 20px;
    font-size: var(--small-font-size);
}



@media (max-width: 1100px) {
    section.why_yes>ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 768px) {
    section.why_yes>ul {
        grid-template-columns: 1fr;
    }
    section.why_yes>ul>li {
        padding: 20px 30px;
    }
    section.why_yes>ul>li>h4 {
        padding-left: 30px;
        line-height: 24px;
        padding-left: 40px;
    }
    section.why_yes>ul>li>p {
        margin-top: 10px;
        font-size: 16px
    }
}

@media (max-width: 600px) {
    section.why_yes {
        display: none;
    }
}